extends layout

block content
  div.container
    div.row
      header.col-md
        h1 BBMR Snowmaking
    div.row
      div.col-md
        h1 Weather Data
        p Some great weather data
      div.col-md
        h1 Pump Data
        p Some great weather data
      div.col-md
        h1 More Data
        p Some data #{reading.temperature_1}
